body {
background-color: #f0f8ff;
font-family: Arial;
}
.header {
background-color: navy;
color: white;
padding: 20px;
text-align: center;
font-size: 30px;
}
.formbox {
width: 600px;
margin: auto;
padding: 30px;
background: white;
border: 2px solid navy;
border-radius: 10px;
margin-top: 30px;
margin-bottom: 50px;
}
label {
display: block;
margin-top: 15px;
font-weight: bold;
}
input {
width: 100%;
height: 35px;
padding: 5px;
border: 1px solid gray;
border-radius: 5px;
}
select {
width: 100%;
height: 40px;
padding: 5px;
border: 1px solid gray;
border-radius: 5px;
}
.footer {
background-color: navy;
color: white;
text-align: center;
padding: 15px;
position: fixed;
bottom: 0;
width: 100%;
}
button {
margin-top: 30px;
width: 200px;
height: 50px;
background-color: green;
color: white;
font-size: 20px;
border: none;
border-radius: 8px;
cursor: pointer;
}